<h1><%= @post.title %></h1>
<p><%= sanitize @post.body %></p>
<hr>
<%= link_to t('common.edit'), edit_post_path(@post), :class => 'btn btn-warning'%>
<%= link_to t('common.destroy'), post_path(@post), method: :delete, data: {confirm: "Want to delete an article"}, :class => 'btn btn-danger'%>
<%= link_to t('common.back'), posts_path, class: 'btn btn-outline-secondary' %>
<hr>
